<head>
    <link rel="stylesheet" href="/css/404.css">
</head>
<section class="container">
    <div class="main">
        <h1>404 - Página não encontrada</h1>
        <p>A página que você está procurando não existe.</p>
        <a href="/">Voltar para a Home Page</a>
    </div>
</section>
