<head>
  <link rel='stylesheet' href='/css/post.css' />
</head>

<body>
  <section>
  {{#if data}}
    {{#each data}}
      <section class='post-container'>
        <section class='post'>
          <h2><a href='/post/{{this.id}}'>{{this.title}}</a></h2>
          <p>{{this.createdAt}}</p>
        </section>
      </section>
    {{else}}
      <h2>Nenhum Post :/</h2>
    {{/each}}
  {{/if}}
</section>
</body>